@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary : linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}
body{
  background-color: #eee;
  font-family: poppins;
}

header{
  background: var(--primary);
  padding: 0 20px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
header .fab{
  font-size: 150%;
  /* display: inline-block; */
  margin-right: 10px;
}

.container{
  width: 75%;
  margin: 50px auto;
}
input, button{
  width: 45%;
  padding: 15px;
  margin: 15px 0;
  border-radius: 13px;
  border: none;
  font-family: raleway;
  font-weight: bold;
  font-size: 13px;
  color: #7D239D;
}
.inputHolder{
  display: flex;
  justify-content: space-around;
}
button{
  background: var(--primary);
  width: 100%;
  text-align: center;
  color: white;
}

.imageContainer{
  background-image: var(--primary);
  margin: 40px 0;
  min-height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  border-radius: 13px;
}

.imageContainer article{
  background-color: #67228045;
  color: white;
  font-size: 2.6em;
  text-align: center;
  width: 80%;
}